<%= form_for(Comment.new(:status_id => @status.id, :user_id => current_user.id)) do |f| %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>

  <div>
		<%= f.hidden_field :status_id %>
	</div>

  <div>
		<%= f.hidden_field :user_id %>
	</div>

  <div class="actions">
    <%= f.submit "Comment" %>
  </div>
<% end %>
