<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th>Description</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @city.events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.city_id %></td>
    <td><%= event.date %></td>
    <td><%= event.time %></td>
    <td><%= event.description %></td>
    <td><%= event.user_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= form_tag("/events", method: "get") do %>
  <%= collection_select(:name, :city_id, @cities, :id, :name, {:selected => @city.id}) %>
  <%= submit_tag("Submit") %>
<% end %>
<%= @x %>
<br />

<%= link_to 'New Event', new_event_path %>
