<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>City:</b>
  <%= @event.city_id %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<%= render 'status_form' %>

<% @event.statuses.each do |status| %>
<%=		"#{status.user.name}: #{status.text}" %>
<br>
<% end %> 		

<br></<br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
