<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>City:</b>
  <%= @event.city_id %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<%= render 'status_form' %>

<% @event.statuses.each do |status| %>
	<%=	"#{status.user.name}: #{status.text}" %>
	<% if can? :destroy, status %>
	    <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<br>
<% end %> 		

<br></<br>

<% if can? :update, @event %>
	<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>

<%= link_to 'Back', events_path %>
